.checkBoxClick {
  border-color: #ddd !important;
}

body {
  background-color: #fff;
}
body a:hover {
  text-decoration: underline !important;
}
body header {
  height: 54px;
  margin: 40px auto 30px;
}
body header a img {
  width: 82px;
  height: 54px;
  float: left;
}
body .body-content {
  margin: 0 auto;
  clear: both;
  margin-bottom: 70px;
  display: block;
  height: 370px;
}
body .body-content .left-imgBox {
  float: left;
  height: 370px;
  margin: 0 115px 0 0;
}
body .body-content .left-imgBox img {
  width: 480px;
  height: 100%;
}
body .body-content .right-loginBox {
  float: left;
  margin: 0 auto;
  background-color: #fff;
  width: 270px;
  height: auto;
}
body .body-content .right-loginBox a {
  color: #2bb8aa;
  float: right;
}
body .body-content .right-loginBox .validate {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #f5d8a7;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #fff6db;
  box-sizing: border-box;
  position: relative;
}
body .body-content .right-loginBox .validate img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  vertical-align: middle;
}
body .body-content .right-loginBox .validate span {
  display: inline-block;
  position: absolute;
  top: 12px;
}
body .body-content .right-loginBox .login-typeBox span {
  font-weight: 400;
  color: #666;
  font-size: 14px;
  float: left;
}
body .body-content .right-loginBox .login-typeBox a {
  color: #666;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
body .body-content .right-loginBox .login-typeBox a img {
  vertical-align: top;
  margin-left: 4px;
}
body .body-content .right-loginBox i {
  font-size: 18px;
  font-weight: 700;
  color: #ddd;
}
body .body-content .right-loginBox .elem {
  padding: 8px 0;
  position: relative;
}
body .body-content .right-loginBox .elem i {
  position: absolute;
  top: 36px;
  left: 9px;
}
body .body-content .right-loginBox .elem input {
  margin-top: 10px;
  width: 230px;
  height: 24px;
  line-height: 24px;
  padding: 5px;
  padding-left: 33px;
  border: 1px solid #aaa;
  font-size: 14px;
}
body .body-content .right-loginBox .psd i {
  top: 16px;
}
body .body-content .right-loginBox .psd input {
  margin: 0;
}
body .body-content .right-loginBox .form-check {
  display: none;
}
body .body-content .right-loginBox .form-check input {
  width: 62px;
  padding: 5px;
  margin-top: 0;
}
body .body-content .right-loginBox .form-check img {
  cursor: pointer;
  border: 1px solid #CCC;
  vertical-align: top;
}
body .body-content .right-loginBox .form-check span {
  cursor: pointer;
  margin-left: 8px;
  color: #2bb8aa;
}
body .body-content .right-loginBox .form-check span:hover {
  text-decoration: underline;
}
body .body-content .right-loginBox .setcookie-box input {
  display: none;
}
body .body-content .right-loginBox .setcookie-box label {
  color: #333;
  position: relative;
  padding-left: 20px;
}
body .body-content .right-loginBox .setcookie-box label span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 1px;
  border-radius: 2px;
  overflow: hidden;
}
body .body-content .right-loginBox .setcookie-box label:after {
  position: absolute;
  top: 2px;
  left: 1px;
  display: none;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url(../img/login/checkBox.png);
  background-size: 11px 12px;
  border-radius: 0px;
}
body .body-content .right-loginBox .setcookie-box label:before {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 0px solid #ddd;
  border-radius: 2px;
}
body .body-content .right-loginBox .setcookie-box input:checked + label:after {
  display: block;
}
body .body-content .right-loginBox .subBox input {
  width: 100%;
  text-align: center;
  padding: 6px;
  padding: 7px 20px 6px;
  border: 0;
  font-size: 14px;
  color: #fff;
  height: auto;
  background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: .1em;
  border-radius: 2px;
  border-bottom: 1px solid #008177;
}
body .body-content .right-loginBox .subBox input:hover {
  background-image: linear-gradient(to top, #2db3a6, #2db3a6);
}
body .body-content .right-loginBox .registe {
  font-size: 14px;
}
body .body-content .right-loginBox .registe a {
  float: none;
}
body .body-content .right-loginBox .pingtaiBox {
  display: block;
  margin-top: 20px;
}
body .body-content .right-loginBox .pingtaiBox h3 {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #CCC;
  width: 100%;
  height: 0;
  overflow: visible;
}
body .body-content .right-loginBox .pingtaiBox h3 span {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  background: #FFF;
}
body .body-content .right-loginBox .pingtaiBox .pingtaiBox-i {
  width: 100%;
  position: relative;
}
body .body-content .right-loginBox .pingtaiBox .pingtaiBox-i a i {
  font-size: 19px;
  position: absolute;
  left: 50%;
}
body .body-content .right-loginBox .pingtaiBox .pingtaiBox-i a .qq {
  color: #8dcbf4;
  margin-left: -25px;
}
body .body-content .right-loginBox .pingtaiBox .pingtaiBox-i a .qq:hover {
  color: #74b8e8;
}
body .body-content .right-loginBox .pingtaiBox .pingtaiBox-i a .weibo {
  color: #f79a89;
  margin-left: 10px;
}
body .body-content .right-loginBox .pingtaiBox .pingtaiBox-i a .weibo:hover {
  color: #fd6b5c;
}
body footer {
  margin: 0 auto;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #999;
}
body footer a {
  color: #999;
}
body footer .ceil-box {
  margin-bottom: 20px;
  padding: 12px 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
body footer .ceil-box ul {
  float: left;
  width: 594px;
  color: #EEE;
}
body footer .ceil-box ul li {
  float: left;
  margin: 5px 0;
  padding: 0 16px;
  line-height: 14px;
  border-right: 1px solid #EEE;
}
body footer .ceil-box ul li a {
  color: #999;
}
body footer .ceil-box ul .first {
  padding-left: 0;
}
body footer .ceil-box ul .last {
  padding-right: 0;
}
body footer .ceil-box a img {
  height: 24px;
  vertical-align: middle;
}

.sub-btneff {
  color: #bbb;
  background-image: linear-gradient(to top, #eeeeee, #eee);
  border: 0 !important;
}

/*# sourceMappingURL=login.css.map */
