@charset "utf-8";
/*--------清间距---------*/
body,h1,h2,h3,h4,h5,h6,p,span,ul,dl,ol,li,dl,dt,dd,a,img,input{margin:0;padding:0}
*{padding: 0;margin: 0;}
ul,dl{list-style:none;}
input{outline:none;}
/*--------定义全局样式样式-----------*/
body{font-size:12px;font-family:"微软雅黑"}

/*——------超链接样式--------------*/
a{text-decoration:none;}
a:hover{text-decoration:none;color:#28bfac}
/*--------全局样式--------------------*/
body{background:#f1f1f1}
.w{width:1190px;margin:0 auto;}
.l{float:left}
.r{float:right}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width:0px;
  -moz-osx-font-smoothing: grayscale;
  color:#9fa09f;
}
/*----------------------hover事件样式----------------------------*/
.ul-nav-liOneHover{border-left: 1px solid #ddd;border-right:1px solid #ddd;margin:0 -1px;background-color: #fff;}
.ul-nav-firstHover{border: 1px solid #ddd;border-top:none;display: block!important}

.hover1{background-color:#57c3c2;color:#fff}
.hover2{color:#fff!important}

.right-banner-header-nav0{color:#fbc700!important}
.right-banner-header-nav1{color:#ed1e24!important}
.right-banner-header-nav2{color:#13d1be!important}

/*---------------------------------------------------header-----------------------------------------------------------*/
header{display:flex;flex-direction:column;}
header{background-color:#f8f8f8;}
header a{color:#9fa09f}
header a:hover{color:#28c0ac}
.header-bar{color:#9fa09f;}
.header-bar-position{color:#666666;padding:11px 0}
.header-bar-position i{font-size:17px;}
.header-bar-position .a-city{color:#666666;border:1px solid #ddd;border-radius: 2px;padding:0 1px;}
.header-bar-position .a-login{padding-left: 20px;padding-right: 8px;}
.header-bar-nav .ul-nav>li{float: left;padding:14px 15px}
/*.header-bar-nav .ul-nav .spec{margin:0;border:none!important}*/
.ul-nav-liOne .ul-nav-first{padding:0 15px;padding-top:10px;margin-left:-16px}
.ul-nav-liOne .ul-nav-first li{line-height:2.8;}

.header-content{background:white;padding-bottom: 45px;}
.header-content-logoBox{padding:30px 0px;padding-right: 150px;}
.header-content-searchBox{padding-top:28px;}
.header-content-searchBox-inputBox{width:550px;border:1px solid #13d1be;border-radius:5px;overflow: hidden;}
.header-content-searchBox-inputBox input{width:432px;border:none;padding:10px}
.header-content-searchBox-inputBox button{width:88px;border:none;background-color:#13d1be;font-size:18px;font-weight:600;cursor: pointer;padding:8px 0}
.header-content-searchBox-hotwordBox{padding-top:8px;padding-left:10px;}
.header-content-searchBox-hotwordBox a{padding-right:5px}
/*---------------------------------------------------main-----------------------------------------------------------*/
/*---------------------------------.one---------------------------------------*/
.left-banner{float:left}
.left-banner-container{width:230px;height:460px;position:relative;float:left;margin-top:-50px;color:#fff;padding-top:15px;background: linear-gradient(#28c0ac,#38a2c1);}
.left-banner-container a{color:#fff}
.left-banner-container-menu{font-size: 16px;padding-left:15px;height:30px;}
.left-banner-container-lie{color:#fff;font-size:13px;padding-top:14px;}
.left-banner-container-lie ul{padding-bottom: 0px;}
.left-banner-container-lie ul li{padding:2px 12px;height:25.5px;text-align: left;box-sizing: border-box;}
.left-banner-container-lie ul li i:first-child{font-size: 17px;color:#68cfc5;padding-right: 4px;}
.left-banner-container-lie ul li a+i{font-size: 6px;color:#fff;font-weight: 600;float: right;padding:6px 0;padding-left:43px}
.left-banner-container-content{display: block;position: absolute;left:230px;top:60px;z-index: 3;background-color:#fff;color: #000;width:400px;height:415px;}
.left-banner-container-contentBox1{margin:0 30px;text-align: left;margin-top: 24px;padding-bottom: 10px;height:22px;line-height: 22px;border-bottom: 1px solid #ddd;}
.left-banner-container-content a:first-child{font-size:16px;font-weight: 500;color:#222;float: left;}
.left-banner-container-content h2~a{color:#999;font-weight: 400;font-size: 12px;}

.right-banner{float:left;position: relative;}
.right-banner-header-nav{position:absolute;left:30px;top:-35px;white-space:nowrap;}
.right-banner-header-nav a{color:#222;font-size:16px;white-space:nowrap;margin:0 20px;font-weight: 700;}
.right-banner-rowBox{overflow: hidden;box-sizing: border-box;}
.slider-imgBox{width:550px;height:240px;margin:10px;position:relative;}
/*.slider-imgBox div{position:absolute;display:flex;z-index: 3;width:38px;height:38px;background-color:#444;border-radius:50%;opacity: .8;cursor: pointer;}
.slider-imgBox .iOne{left:12px;top:101px}
.slider-imgBox .iTwo{right:12px;top:101px}
.slider-imgBox div i{color:#fff;font-size:19px;font-weight:800;margin: auto;}*/
.right-banner-rowBox .ktv{height:240px;margin-top:10px;margin-right: 10px;overflow: hidden}
.right-banner-rowBox .ktv .topImg{width:150px;height:100%}
.right-banner-rowBox .login{float:left;width:228px;height:210px;color: #222;background-color:#fff;font-weight: 500;border: 1px solid #ddd;padding-top:30px;margin-top:10px;text-align: center;font-size: 16px;}
.right-banner-rowBox .login img{width:47px;border-radius: 50%;border: 4px solid #E5E5E5;margin-bottom:4px;}
.right-banner-rowBox .login a{display:block;transition:background-color .5s;text-align:center;width: 118px;font-size: 14px;line-height: 35px;color: #333;border: 1px solid #e5e5e5;border-radius: 40px;margin:10px auto;margin-bottom:18px}
.right-banner-rowBox .login a:hover{background-color: #eee;}

.right-banner-rowTwoBox{box-sizing: border-box;}
.right-banner-rowTwoBox img{display:block;width:270px;margin-left:10px;height:165px}
.right-banner-rowTwoBox .floorImg{width:150px;}
.codeBigBox{width:228px;height:151px;background-color: #fff;border:1px solid #ddd;margin-left:10px;text-align: center;}
.right-banner-rowTwoBox .codeBigBox{padding-top: 12px;}
.right-banner-rowTwoBox .codeBigBox img{width:95px;height:95px;margin:auto}
.codeBigBox .app-name{font-size:16px;color:rgb(34,34,34)}
.codeBigBox .app-nameFloor{margin-top:4px}
.codeBigBox .app-floorP1{color:rgb(236,83,48);font-size:12px;}
.codeBigBox .app-floorP2{color:rgb(63,63,63);font-size:12px;}
/*---------------------------------.two---------------------------------------*/
main .two{margin:40px auto;border-top:0;background-color: #fff;box-sizing: border-box;border-top-right-radius: 5px;margin-bottom: 0;
border-top-left-radius: 5px;}
.two-contain-navBox{box-sizing: border-box;height:44px;line-height: 44px;background-color: rgb(190, 164, 116);
background: linear-gradient(to right, rgb(194, 176, 142) 3%, rgb(190, 164, 116) 100%);color:#fff;font-size:14px;border-top-right-radius: 5px;
border-top-left-radius: 5px;}
.two-contain-navBox li{float:left;cursor: pointer;padding:0 5px}
.two-contain-navBoxUlTitle{font-size: 18px;margin-left: 13px;margin-right: 10px;}

.two-contain-nextBox{float: left;border: 1px solid #ddd;padding:10px;border-top:none;box-sizing: border-box;}
.two-contain-nextBox a{width:33.3%;box-sizing:border-box;display:block;padding:10px;float:left;transition:background-color 1s;border-radius: 5px;}
.two-contain-nextBox a:hover{background-color:#F1F1F1;}
.two-contain-nextBox .imgBox{margin-bottom: 11px;height:208px;}
.two-contain-nextBox .imgBox img{width:100%;height:100%;border-radius: 4px;}

.contentBox{white-space: nowrap;overflow: hidden;text-align: left;color: #999;font-size: 12px;}
.contentBox .title{margin-right:80px;font-size: 16px;color: #222;margin-bottom: 8px; height: 22px;line-height: 22px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;}
.contentBox .title-sub{font-size: 12px; line-height: 18px; height: 18px;margin-bottom: 7px;overflow: hidden;text-overflow: ellipsis;}
.contentBox .price{margin-bottom: 10px;}
.bottom-right-lang{float:right;font-size: 12px;margin-top: 10px;letter-spacing:normal;}

.price{height:27px;box-sizing: border-box;letter-spacing: -1px;}
.contentBox .title-sub>span{border:1px solid #ddd;margin-right:4px;}
.price .money-ico{font-size: 14px;color: #BE9E4D; font-weight: 500;}
.price .money-numer{font-size: 22px;color: #BE9E4D;}
.price .money-qi{color: #BE9E4D}
/*---------------------------------.three---------------------------------------*/
.three-contain-navBox{background-image: linear-gradient(to right, rgb(255, 113, 74) 2%, rgb(252, 66, 66) 97%);}
.three-contain-nextBox a{width:233px;height:290px}
.three-contain-nextBox a .imgBox{height:120px;}
.three-contentBox .clearfix{height:20px;box-sizing: border-box;margin-bottom: 10px;}
/*---------------------------------.four---------------------------------------*/
.four-contain-navBox{background: linear-gradient(to right, rgb(250, 60, 104) 2%, rgb(254, 70, 77) 97%) rgb(250, 60, 104);}
.four-contain-navBox .right-li{float: right;}
.four-sliderBox{position:relative;overflow:hidden;height:338px;padding:20px 10px;border: 1px solid #ddd;border-top:none;box-sizing: border-box;}
.four-sliderBox-pointerBox{position:absolute;display:flex;z-index:2;width:38px;height:38px;top:150px;background-color:#444;border-radius:50%;opacity: .8;cursor: pointer;}
.four-sliderBox-pointerBox i{color:#fff;font-size:19px;font-weight:800;margin: auto;}
.four-sliderBox-ulBox{width:100%;height:297px;position: relative;margin-left: 11px;}
.four-sliderBox ul{display:block;height:297px;position: absolute;}

.four-sliderBox .movieUlTwo{right:-1165px}
.four-sliderBox ul li{
        position:relative;float: left;margin-right:19px;display: block;
        .lifooter{
            width:100%;height:100px;position: absolute;color:#CCC;bottom:-45px;box-sizing: border-box;padding: 0 10px;cursor: pointer;
            b span{color:#FD9827;font-size:16px;font-weight: 500;margin-left: 3px;}    
            b .xianhou{margin-right: 3px;margin-left: 0;}
            .film-name{text-overflow: ellipsis;font-size: 16px;}
            .buy-title{background: #FF4949;border-radius: 100px;  font-size: 14px;cursor: pointer;
                        line-height: 25px;position: absolute;right: 10px;bottom:55px;
                        text-align: center;color:#fff;
                        float: right;
                        width:52px;
                        height:25px;
            }
        }
     }
.four-sliderBox ul li a{display: block;width:214px;height:297px}
.four-sliderBox ul li a img{width:100%;height:100%;border-radius:4px;}
/*----------------------------------------.five-----------------------------*/
.five-contain{
    .five-contain-navBox{
    background: linear-gradient(to right, rgb(243, 182, 74) 2%, rgb(242, 197, 69) 97%) rgb(243, 182, 74);
    }
    .five-contain-nextBox{
        .title-sub>span{
        border:none;
                }
        .price{
        .money-ico{color:#F60}
        .money-numer{color:#F60}
         }
        a .imgBox{
           position: relative;
          .photo{position:absolute;width:52px;height:52px;border-radius: 50%;right:20px;bottom:-22px} 
        }
    }  
}
/*----------------------------------------.six-----------------------------*/
.six{
    .six-contain-navBox{
        background-image: linear-gradient(-90deg,#0ECAC7 0,#06C1AE 100%);border:1px solid #ddd;border-bottom: 0;
    }
    .six-contain-city{
        width:100%;height:227px;border:1px solid #ddd;box-sizing: border-box;
       .hotRow:first-child{margin-top: 8px;}
       .hotRow{ 
            width:100%;height:auto;overflow: hidden;float: left;
           .hotRow-subtitle{
            width:98px;float: left;font-size: 14px;font-weight: 500;color:#222;padding:10px 0;text-align: center;
           }
           .hotRow-sublist{
               width:1090px;float: left;padding-top: 12px;overflow: hidden;border-bottom: 1px solid #E5E5E5;
               dd{
                   width:100px;float: left;height:17px;margin-bottom: 13px;
                   a{
                       display:block;width:80px;color:#666;text-overflow: ellipsis;
                   }
                   a:hover{color: #31BBAC;}
               }
           }
           .lastList{border:0}
        }
    }
}
/*----------------------------------------footer-----------------------------*/
footer{
    .content{
        width:1190px;float:left;box-sizing:border-box;line-height: 2;text-align: left;
        padding: 40px 45px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;margin-top:40px;
        border-bottom: 1px solid #E5E5E5;
        .column{
            width:20%;float: left;
            .dtTitle{font-size: 14px;font-weight: 500;color:#666;}
            .dtTitle:last-child a{color:#666;}
            dd a{color:#666;font-size:12px;}
            dd:last-child{padding-bottom: 20px;}
             a:hover{color: #31BBAC;}
             .dtTitle:last-child a:hover{color: #31BBAC;}
        }
    }
    .banquan{
         float:left;
         width:100%;
         color: #999;
         text-align: right;
         padding-left: 20px;
         padding-top: 15px;
         padding-bottom: 30px;
         line-height: 1.6;
         box-sizing: border-box;
         a{color: #999;}
         a:hover{color: #31BBAC;}
        .banquan-left{
            text-align: left;
            float:left;
        }
        .banquan-right{
            float:right;
            a{}
            .banquan-right-Img{
                img{
                width:109px;height: 38px;margin-right:2px;float:left;padding-top:6px
                }
            }
        }
    }
}













