@charset "utf-8";
/*---------------------------------.three---------------------------------------*/
.three-contain-navBox{background-image: linear-gradient(to right, rgb(255, 113, 74) 2%, rgb(252, 66, 66) 97%);}
.three-contain-nextBox a{width:233px;height:290px}
.three-contain-nextBox a .imgBox{height:120px;}
.three-contentBox .clearfix{height:20px;box-sizing: border-box;margin-bottom: 10px;}