@charset "utf-8";

main{
    .content{
        width: 1190px;margin: auto;color:#222;
        .bread{
                font-size: 12px; color: #222; line-height: 17px;padding: 19px 0;
             span{
                 a{color: #222;}
             }
        }
        .cake-style{
            font-size: 12px;color: #666; background-color: #fff; border-radius: 10px;padding: 20px 20px 33px;
            border: 1px solid #e5e5e5;box-shadow: 0 5px 14px 0 rgba(0,0,0,.1);overflow: hidden;
          .cake-style-left{
              float: left;width: 748px; padding-right: 20px;
              .left-name{
                   font-size: 26px;line-height: 37px;height:37px;
                   .SS{float: left;}
                   .shiping{
                       float: right; float: right;color: #00c9b3;font-size: 12px;cursor: pointer;
                       img{width:15px;height:18px;vertical-align: middle;position: relative;top:-2px;margin-right: 2px;}
                   }
              }
              .left-score{
                      font-size: 14px;height: 14px; margin: 6px 0 17px;
                      .score-star{
                          display: inline-block;    width: 84px; height: 24px; position: relative;
                          img{height:13px}
                      }
                      p{
                          display: inline-block;
                          span{margin-left: 10px;}
                      }
              }
              .left-address{
                      border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;padding: 16px 0 11px;
                      p{
                        font-size: 14px;line-height: 20px;margin-bottom: 10px;
                        b{
                            background-image:url(../img/cake/16pt.png);
                            width: 14px; height: 14px;background-position-x: -28px;
                            background-size: auto 14px;
                            display: inline-block;
                            margin-left: 6px;
                            vertical-align: middle;
                            margin-top: -3px;
                            cursor: pointer;
                         }
                    }
              }
             .left-tags{
                     padding-top: 20px;
                     li{
                        float: left;
                        margin-right: 16px;
                        line-height: 17px;
                        img{
                            margin: auto auto 11px;
                            width: 24px;
                            height: 23px;
                            border-radius: 0;
                            display: block;
                          }
                     }
                }  
          }
                .cake-style-right{
                 float: left; width: 380px; overflow: hidden; cursor: pointer;
                 .big{
                         height: 214px; width: 100%;
                         img{
                             width: 100%;height: 100%;display: block;border-radius: 4px;
                         }
                    }
                   ul{
                        width: 385px;padding-top: 10px;
                       li{
                           float: left;width: 92px;margin-right: 4px; height:60px;
                           img{ 
                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 4px;    
                            }  
                       }
                   }
                }
            }
            .cake-buy{
                color: #222;padding-top: 40px;
                .buy-left{
                    width: 950px;float: left;
                    h3{    font-size: 20px;
                            line-height: 26px;
                            margin-bottom: 8px;
                     }
                    .shop-listBox{
                            margin-bottom: 10px;background: #fff;
                            border: 1px solid #e5e5e5;
                            border-radius: 4px;
                            padding: 16px 20px 20px;
                            overflow: hidden;
                            h4{
                                font-size: 16px;
                                line-height: 26px;
                            }
                            .one-clear{
                                 padding-bottom: 20px;
                                 margin-top: 17px;overflow: hidden;
                                 border-bottom: 1px solid #ddd;
                                 .pic{
                                        width: 100px;
                                        height: 100px;
                                        float: left;
                                        cursor: pointer;
                                        img{
                                                display: block;
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 4px;
                                        }
                                 }
                                 .pic-right{
                                    float: left;
                                    padding: 1px 0 0 20px;
                                    width: 788px;
                                    a{
                                        width: 120px;
                                        height: 40px;
                                        font-size: 14px;
                                        background-color: #f90;
                                        text-align: center;
                                        line-height: 40px;
                                        color: #fff;
                                        float: right;  
                                        display: inline-block;
                                        margin-top: 30px;
                                        border-radius: 100px;
                                    }
                                    .name{
                                        font-size: 16px;
                                        line-height: 22px;
                                        cursor: pointer;margin:0;
                                        span{
                                            vertical-align: middle;
                                        }
                                        b{  display: inline-block;
                                            background-image: url(../img/cake/16pt.png);
                                            background-position-x:-48px;
                                            background-size: auto 16px;
                                            height: 16px;
                                            width: 16px;
                                            vertical-align: middle;
                                            margin-left: 10px;
                                        }
                                    }
                                    .sale{
                                            font-size: 12px;
                                            color: #666;
                                            line-height: 17px;
                                            margin: 1px 0 22px;
                                            cursor: pointer
                                    }
                                    .price{
                                        font-size: 30px;
                                        color: #f60;
                                        cursor: pointer;
                                        margin: 0;
                                        b{font-weight: 400;font-size: 14px;}
                                        span{
                                            color: #999;
                                            font-size: 12px;
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        #changeBox{
                            margin-bottom: 40px;text-align: center;padding: 50px;
                            img{
                                display: inline-block;
                                width: 160px;
                                height: 120px;
                            }
                            span{
                                display: block;
                                margin: 10px 0 14px;
                                color: #666;
                                font-size: 16px;
                                line-height: 26px;
                            }
                            a{
                                display: block;
                                background-color: #13D1BE;
                                width: 120px;
                                height: 40px;
                                font-size: 14px;
                                line-height: 40px;
                                padding: 0;
                                margin: 0 auto;
                                border-radius: 100px;
                                text-align: center;
                                color: #fff;
                                transition: background .6s ease;
                            }
                        }
                        .DaiJinQuan{
                            margin-bottom: 40px;
                            background: #fff;
                            border: 1px solid #e5e5e5;
                            border-radius: 4px;
                            padding: 20px;
                            overflow: hidden;
                            a{color: #222;}
                            h4{
                                font-size: 16px;
                                line-height: 26px;
                            }
                            .one-clear{
                                padding-bottom: 20px;
                                margin-top: 17px;
                                overflow: hidden;
                                .price{
                                    float: left;
                                    width: 140px;
                                    height: 89px;
                                    //background-image: url(/bs/file/?f=meishi.web:assets/74f33f3125908576.png@ca55222);
                                    background-color:#eee ;
                                    border-top-left-radius:8px;
                                    border-bottom-left-radius:8px;
                                    background-size: 100% 100%;
                                    text-align: center;
                                    padding: 11px 10px 0;
                                    color: #333;
                                    font-size: 14px;
                                    span{
                                        display: block;
                                        font-size: 30px;
                                        color: #f60;
                                        border-bottom: 1px dashed #ccc;
                                        line-height: 36px;
                                        margin-bottom: 9px;
                                        padding-bottom: 8px;
                                        b{
                                            font-weight: 400;
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .name{
                                    float: left;
                                    width: 728px;
                                    padding-left: 20px;
                                    font-size: 12px;
                                    .buybuybuy{
                                        width: 120px;
                                        height: 40px;
                                        font-size: 14px;
                                        background-color: #f90;
                                        text-align: center;
                                        line-height: 40px;
                                        color: #fff;
                                        float: right;
                                        display: inline-block;
                                        margin-top: 30px;
                                        border-radius: 100px;
                                    }
                                    p{
                                        font-size: 16px;
                                        line-height: 22px;
                                        margin-bottom: 1px;
                                    }
                                }
                            }
                        }
                        .recommend{
                            overflow: hidden;
                            margin-bottom: 40px;
                            h3{
                                font-size: 20px;
                                line-height: 26px;
                                margin-bottom: 8px;
                            }
                            .cont{
                                border: 1px solid #e5e5e5;
                                background-color: #fff;
                                padding: 33px 32px 26px;
                                border-radius: 4px;
                                overflow: hidden;
                                ul{
                                    width: 910px;margin:0;padding: 0;
                                    li{
                                        float: left;
                                        width: 130px;
                                        margin-right: 20px;
                                        .pic{
                                            position: relative;
                                            height: 130px;
                                            border-radius: 4px;
                                            img{
                                                display: block;
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 4px;
                                            }
                                        }
                                        .img-titleBox{
                                            font-size: 14px;
                                            width: 100%;
                                            background: rgba(0,0,0,.3);
                                            padding: 8px 0;
                                            text-align: center;
                                            color: #fff;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            span{
                                                width: 78px;
                                                vertical-align: bottom;
                                                display: inline-block;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                            b{
                                                font-weight: 400;
                                            }
                                        }
                                    }       
                                }
                                .cake-listclear{
                                     padding: 25px 0 0 6px; overflow: hidden;
                                     span{
                                        display: block;
                                        float: left;
                                        margin: 0 20px 19px 0;
                                        font-size: 16px;
                                        line-height: 20px;
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                    .buy-right{
                        width: 230px;
                        float: right;
                        padding-top: 34px;
                        a{color:#222}
                        .you-like{
                            border: 1px solid #e5e5e5;
                            border-radius: 4px;
                            background-color: #fff;
                            padding: 16px 20px 0;
                            overflow: hidden;
                            h4{
                                font-size: 16px;
                                line-height: 22px;
                                margin: 0 0 12px;
                                color: #333;
                            }
                            ul{
                                margin: 0;padding: 0;
                                li{
                                    margin-bottom: 20px;
                                    a{
                                       display: block;
                                       .pic{
                                            height: 106px;border-radius: 4px;
                                            img{
                                                border-radius: 4px;display: block;
                                                width: 100%;
                                                height: 100%;
                                            }
                                       }
                                       .name{
                                            font-size: 14px;
                                            line-height: 20px;
                                            color: #222;
                                            margin: 10px 0 4px;
                                       }
                                       .addr{
                                            font-size: 12px;
                                            line-height: 17px;
                                            color: #999;
                                       }
                                       .price{
                                            font-size: 22px;
                                            color: #f60;
                                            line-height: 27px;
                                            b{
                                                font-weight: 400;
                                                font-size: 14px;
                                            }
                                       }
                                    }
                                }
                            }
                        }
                    }
                }
                .near-cont{
                    h3{
                        font-size: 20px;
                        line-height: 26px;
                        color: #333;
                        width: 100px;
                    }
                    .near-listBox{
                        width:1190px;
                        margin: 0 auto;
                        margin-top: 8px;
                        background: #fff;
                        border: 1px solid #e5e5e5;
                        border-radius: 4px;
                        padding: 20px 6px 0;
                        overflow: hidden;
                        color: #999;
                        font-size: 12px;
                        box-sizing: border-box;
                        ul{margin: 0 auto;
                            li{
                                height: 241px;
                                
                                float: left;
                                width: 235px;
                                margin-bottom:20px;
                                box-sizing: border-box;
                                padding-bottom: 5px;
                                a{
                                    display:block;color:#222;overflow: hidden;padding: 5px 10px ;border-radius: 6px;
                                    transition: background-color .8s;
                                    .pic{
                                        height: 120px;
                                        border-radius: 4px;
                                        img{
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 4px;
                                        }
                                    }
                                    .pic-name{
                                        font-size: 16px;
                                        line-height: 22px;
                                        color: #222;
                                        margin: 10px 0 6px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                    .source{
                                            color: #999;
                                        font-size: 12px;
                                        line-height: 17px;
                                        span{margin-left: 10px;}
                                    }
                                    .source-car{
                                        margin: 1px 0 3px;
                                        min-height: 33px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    .price{
                                        font-size: 20px;
                                        line-height: 27px;
                                        color: #f60;
                                        b{
                                            font-weight: 400;
                                            font-size: 14px;
                                          }
                                    }
                                }
                                a:hover{
                                    background-color:#eee ;
                                }
                            }
                        }
                    }
                }
            }
        }
    