@charset "utf-8";
body{
    margin:6px;
    background-color: #fff;
    .shop-car{
         background-color: #fff;
        .shop-car-listBox{
            width: 980px;
            margin: 10px auto 0;
            padding: 10px 0 65px;
            .row{
                padding: 12px;
                border-top: 1px solid #E5E5E5;
                text-align: right;
            }
            table{
                width: 100%;
                text-align: center;
                border: none;
                border-collapse: collapse;
                border-spacing: 0;
                tbody{
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;
                    th{
                        padding: 6px 16px;
                        font-size: 14px;
                        font-weight: 700;
                        background-color: #F7F7F7;
                        color: #222;
                    }
                    .desc{
                        width: 500px;
                        text-align: left;
                    }
                    .unit-price{
                        width: 100px;
                    }
                    .num{
                        width:180px;
                    }
                    .total-price{
                        text-align: right
                    }
                    td{
                        padding: 12px 16px;
                        color: #666;
                        font-size: 15px;
                        a{
                            text-decoration: none;
                            color: #666;
                            cursor: pointer;
                        }
                        .input-number{
                            display: flex;
                            border: 1px solid #E5E5E5;
                            border-radius: 2px;
                            width:104px;
                            button{
                                position: relative;
                                box-sizing: content-box;
                                font-size: 0;
                                outline: 0;
                                background-color: #fff;
                                cursor: pointer;
                                vertical-align: top;
                                padding: 0;
                                width: 34px;
                                height: 34px;
                                border: none;
                                i{
                                    position: absolute;
                                    z-index: 3;
                                    font-size: 15px;
                                    right:10px;
                                    top:10px;
                                }
                            }
                            input{
                                    color: #222;
                                    border: 1px solid #E5E5E5;
                                    border-top: none;
                                    border-bottom: none;
                                    vertical-align: top;
                                    font-size: 14px;
                                    text-align: center;padding: 0;
                                    width: 34px;
                                    height: 34px;
                            }
                        }
                    }
                    td:first-child{
                       text-align: left;
                    }
                    td:last-child{
                        color: #f76120;
                        text-align: right;
                    }
                }
            }
            .discount{
                font-size: 14px;
                letter-spacing: 1px;
                color: #666;
            }
            .rowprice{
                .total-price{
                    font-size: 12px;
                    font-weight: bolder;
                    color: #666;
                    line-height: 30px;
                }
                .total-price-right{
                    font-size: 20px;
                    color: #f76120;
                    b{
                      font-weight: 400;
                    }
                }
            }
            .send-phone{
                text-align: left;
                font-size: 12px;
                color:#222;
                a{
                    color: #2bb8aa;
                }
            }
            .btn-box{
                input{
                    display: inline-block;
                    padding: 5px 20px 4px;
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    background-color: #2db3a6;
                    background-image: linear-gradient(to bottom,#2ec3b4,#2db3a6);
                    border:0;
                    border-bottom: 1px solid #008177;
                    border-radius: 2px;
                    cursor: pointer;
                    letter-spacing: 2px; 
                    float: right;                
                }
                input:hover{
                     background-image: linear-gradient(to bottom,#2db3a6,#2db3a6);
                }    
            }
        }
    }
}
//脚本写addClass
.tr-style{
    border-bottom:1px solid #E5E5E5;
}
